body {
    background-color: #BED8D4
  }
.navbar {
    width: 100%;
    background-color: #2081C3;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar ul {
    /* 
          Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /* 
          No padding.
    */
    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    background-color: #2081C3;
    text-align: center;
  }
  
  /*  
      Style individual list items.
  */
  .navbar li {
    width: 150 px;
    background-color: #2081C3;
    border: 2px solid black;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
  }
  
  /* 
      Style links in navbar.
  */
  .navbar a {
    color: #F7F9F9;
    text-decoration: none;
  }

<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #752e2e;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>


  