body {
    background-color: #BED8D4
  }
.navbar {
    width: 100%;
    background-color: #2081C3;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar ul {
    /* 
          Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /* 
          No padding.
    */
    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    background-color: #2081C3;
    text-align: center;
  }
  
  /*  
      Style individual list items.
  */
  .navbar li {
    width: 150 px;
    background-color: #2081C3;
    border: 2px solid black;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
  }
  
  /* 
      Style links in navbar.
  */
  .navbar a {
    color: #F7F9F9;
    text-decoration: none;
  }
  
 
.iframe-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 15px; /* Ensure spacing between title and iframe */
}


/* Center the iframe vertically and horizontally */
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
}

/* Style the iframe with a light black border */
.iframe-container iframe {
    border: 2px solid rgba(0, 0, 0, 0.3); /* Light black border */
    border-radius: 8px; /* Rounded corners */
}


  /*
  Specfics for second HTML page
  */
textarea {
    width: 100%;
    height: 150px;
    font-family: monospace;
}
button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

/* Space above the boxes */
.main-content {
    margin-top: 40px;
  
}

.start-coding {
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px; /* Space between title and boxes */
}
a.box {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    margin: 0 2px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
}

a.box img {
    width: 100%;
    width: 100%; /* Make images take full width of the box */
    height: 150px; /* Set a consistent height for all images */
    object-fit: cover; /* Ensure images are cropped to fit the dimensions */
    object-position: 0 20%; /* Center the image if it needs to be cropped */
}

a.box h3 {
    margin: 10px;
    font-size: 18px;
    color: #2081C3;
}

a.box:hover {
    background-color: lightgrey; /* Change color to light grey on hover */

}
footer {
    text-align: center;
    padding: 20px;
    color: #080357;
    font-size: 13px;
}

footer p {
    margin: 0;
    line-height: 1.5;
}